/*Setup MTG Fonts*/

@font-face {
    font-family: 'Beleren Small Caps';
    src: url('./fonts/Beleren-Bold.woff2') format('woff2'),
         url('./fonts/Beleren-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beleren';
    src: url('./fonts/Beleren-Bold.woff2') format('woff2'),
         url('./fonts/Beleren-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matrix';
    src: url('./fonts/Matrix-Bold.woff2') format('woff2'),
         url('./fonts/Matrix-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Relay';
    src: url('./fonts/Relay-Medium.woff2') format('woff2'),
         url('./fonts/Relay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matrix';
    src: url('./fonts/Matrix-Bold.woff2') format('woff2'),
         url('./fonts/Matrix-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Beleren Small Caps';
}

/*MTG Card Generator Styling*/

.card-back-green {
    display: flex;
    flex-direction: column;
    position: static;
    background-image: url("./imgs/cardBacks/greenCardBack.png");
    background-color: black;
    height: 698px;
    width: 500px;
}

.card-back-blue {
    display: flex;
    flex-direction: column;
    position: static;
    background-image: url("./imgs/cardBacks/blueCardBack.png");
    background-color: black;
    height: 698px;
    width: 500px;
}

.card-back-red {
    display: flex;
    flex-direction: column;
    position: static;
    background-image: url("./imgs/cardBacks/redCardBack.png");
    background-color: black;
    height: 698px;
    width: 500px;
}

.card-back-black {
    display: flex;
    flex-direction: column;
    position: static;
    background-image: url("./imgs/cardBacks/blackCardBack.png");
    background-color: black;
    height: 698px;
    width: 500px;
}

.card-back-white {
    display: flex;
    flex-direction: column;
    position: static;
    background-image: url("./imgs/cardBacks/whiteCardBack.png");
    background-color: black;
    height: 698px;
    width: 500px;
}

.card-top-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
    margin-top: 9%;
    margin-left: 10%;
}

.card-title-container {
    width: 60%;
}

.card-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.5rem;
}

.mana-cost-container {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 19%;
    flex-direction: row;
    gap: 5px;
}

.mana-cost {
    position: relative;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.mana-cost-color {
    height: 25px;
}

.mana-neutral {
    height: 25px;
    position: relative;
}

.mana-neutral-cost {
    position: relative;
    font-weight: bold;
    font-size: 1.3rem;
    top: 1px;
    right: 17px;
    z-index: 10;
}