/*Setup MTG Fonts*/

@font-face {
    font-family: 'Beleren Small Caps';
    src: url('./fonts/Beleren-Bold.woff2') format('woff2'),
         url('./fonts/Beleren-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beleren';
    src: url('./fonts/Beleren-Bold.woff2') format('woff2'),
         url('./fonts/Beleren-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Beleren Small Caps','sans-serif';
}

header {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkslategray;
    color: white;
    border-bottom: white 3px solid;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    margin: 0 auto;
    font-size: 2.2rem;
    padding: 20px 20px;
}

.header-intro-text {
    margin: 0 auto;
    font-size: 1.2rem;
    font-style: italic;
    padding: 0 20px;
}

.project-blurb-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: darkslategray;
    border-bottom: white 3px solid;
}

.project-blurb-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-blurb-text {
    padding: 10px 20px;
    margin-top: 5px;
    color: white;
}

.cardDisplay-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./imgs/backgrounds/background2.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.display-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    width: 400px;
    background-color: darkslategray;
    color: white;
    border-radius: 10px;
    border: white solid 2px;
    padding: 25px;
}

.view-card-button {
    background-color: #4d0013;
    color: white;
    width: 120px;
    height: 60px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: white 2px solid;
}

.cardpage-body {
    width: 100%;
    height: auto;
    background-image: url("./imgs/backgrounds/background1.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.mtg-card-container {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.mtg-card-header {
    height: 175px;
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.mtg-card-header-title {
    font-size: 2.5rem;
}

.mtg-card-header-text {
    font-style: italic;
    font-size: 0.9rem;
}

.return-button {
    background-color: #4d0013;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: solid 2px white;
}

/*MTG Card Generator Styling*/

.card-back-green {
    display: flex;
    flex-direction: column;
    position: static;
    background-image: url("./imgs/cardBacks/greenCardBack.png");
    background-color: white;
    height: 698px;
    width: 500px;
    margin-bottom: 10px;
}

.card-back-blue {
    display: flex;
    flex-direction: column;
    position: static;
    background-image: url("./imgs/cardBacks/blueCardBack.png");
    background-color: white;
    height: 698px;
    width: 500px;
    margin-bottom: 10px;
}

.card-back-red {
    display: flex;
    flex-direction: column;
    position: static;
    background-image: url("./imgs/cardBacks/redCardBack.png");
    background-color: white;
    height: 698px;
    width: 500px;
    margin-bottom: 10px;
}

.card-back-black {
    display: flex;
    flex-direction: column;
    position: static;
    background-image: url("./imgs/cardBacks/blackCardBack.png");
    background-color: white;
    height: 698px;
    width: 500px;
    margin-bottom: 10px;
}

.card-back-white {
    display: flex;
    flex-direction: column;
    position: static;
    background-image: url("./imgs/cardBacks/whiteCardBack.png");
    background-color: white;
    height: 698px;
    width: 500px;
    margin-bottom: 10px;
}

.card-top-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 500px;
    font-size: 1.2rem;
    margin-top: 9%;
    margin-left: 10%;
}

.card-title-container {
    width: 300px;
}

.card-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.5rem;
}

.mana-cost-container {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    margin-right: 19%;
    flex-direction: row;
    gap: 5px;
}

.mana-neutral-container {
    position: relative;
}

.mana-cost-display-container {
    position: relative;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.mana-cost-color {
    height: 25px;
}

.mana-neutral {
    height: 25px;
}

.mana-neutral-cost {
    position: absolute;
    font-weight: bold;
    font-size: 1.3rem;
    top: 1px;
    right: 7px;
    z-index: 10;
}

.card-art-container {
    position: static;
    width: 407px;
    height: 308px;
    margin-left: 9.3%;
    z-index: 5;
    margin-top: 1.8%;
}

.card-art {
    width: 407px;
    height: 308px;
}

.card-type-container {
    margin-top: 2.3%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-type-title-container {
    width: 80%;
}

.card-type-text {
    font-size: 1.1rem;
}

.card-set-logo-image {
    height: 25px;
}

.description-container {
    width: 405px;
    height: 185px;
    margin-left: 10%;
    margin-top: 20px;
}

.ability-cost-container {
    float: left;
    display: flex;
    height: 19px
}

.description {
    display: flex;
    flex-wrap: wrap;
}

.ability-cost {
    height: 20px;
    margin-right: 2px;
}

.description-contents-container {
    font-size: 1.1rem;
}

.designer-text {
    margin-top: 5px;
    font-style: italic;
}

.powerandtough-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 14.5%;
    font-size: 1.3rem;
    font-weight: bold;
}

.ability-neutral {
    position: relative;
    margin-right: 2px;
}

.ability-neutral-cost {
    position: absolute;
    font-weight: bold;
    margin-left: 4px;
    font-size: 1.1rem;
    z-index: 10;
}